<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Kind</key>
        <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
        <key>Identifier</key>
        <string>com.apple.dt.unit.ios.augmentedreality</string>
        <key>Ancestors</key>
        <array>
            <string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
        </array>
        <key>Concrete</key>
        <true/>
        <key>SortOrder</key>
        <integer>11</integer>
        <key>NameOfInitialFileForEditor</key>
        <string>ContentView.swift</string>
        <key>Description</key>
        <string>This template provides a starting point for Augmented Reality applications.</string>
        <key>Nodes</key>
        <array>
            <string>Info.plist:UIStatusBarHidden</string>
            <string>Info.plist:NSCameraUsageDescription</string>
            <string>Info.plist:UIRequiredDeviceCapabilities:arkit</string>
        </array>
        <key>Definitions</key>
        <dict>
            <key>Info.plist:UIRequiredDeviceCapabilities:arkit</key>
            <string><![CDATA[<string>arkit</string>]]></string>
            <key>Info.plist:UIStatusBarHidden</key>
            <string><![CDATA[<key>UIStatusBarHidden</key>
                <true/>
            ]]></string>
            <key>Info.plist:NSCameraUsageDescription</key>
            <string><![CDATA[<key>NSCameraUsageDescription</key>
                <string></string>
            ]]></string>
        </dict>
        <key>Options</key>
        <array>
            <dict>
                <key>Identifier</key>
                <string>contentType</string>
                <key>Name</key>
                <string>Content Technology:</string>
                <key>Description</key>
                <string>The type of content technology to use to create your app</string>
                <key>Values</key>
                <array>
                    <string>RealityKit</string>
                    <string>SceneKit</string>
                    <string>SpriteKit</string>
                    <string>Metal</string>
                </array>
                <key>RequiredOptionsForValues</key>
                <dict>
                    <key>RealityKit</key>
                    <dict>
                        <key>languageChoice</key>
                        <string>Swift</string>
                    </dict>
                </dict>
                <key>Default</key>
                <string>RealityKit</string>
                <key>SortOrder</key>
                <integer>0</integer>
                <key>Type</key>
                <string>popup</string>
                <key>Units</key>
                <dict>
                    <key>RealityKit</key>
                    <array>
                        <dict>
                            <key>Nodes</key>
                            <array>
                                <string>Experience.rcproject</string>
                            </array>
                            <key>Definitions</key>
                            <dict>
                                <key>Experience.rcproject</key>
                                <dict>
                                    <key>Path</key>
                                    <string>RealityKit/Experience.rcproject</string>
                                    <key>SortOrder</key>
                                    <integer>99</integer>
                                </dict>
                            </dict>
                        </dict>
                    </array>
                    <key>SceneKit</key>
                    <array>
                        <dict>
                            <key>Nodes</key>
                            <array>
                                <string>Info.plist:UIMainStoryboardFile</string>
                                <string>Base.lproj/Main.storyboard</string>
                                <string>art.scnassets</string>
                            </array>
                            <key>Definitions</key>
                            <dict>
                                <key>Base.lproj/Main.storyboard</key>
                                <dict>
                                    <key>Path</key>
                                    <string>SceneKit/Main.storyboard</string>
                                    <key>SortOrder</key>
                                    <integer>99</integer>
                                </dict>
                                <key>Info.plist:UIMainStoryboardFile</key>
                                <string><![CDATA[<key>UIMainStoryboardFile</key>
    <string>Main</string>
    ]]></string>
                                <key>art.scnassets</key>
                                <dict>
                                    <key>Path</key>
                                    <string>SceneKit/art.scnassets</string>
                                </dict>
                            </dict>
                        </dict>
                        <dict>
                            <key>RequiredOptions</key>
                            <dict>
                                <key>languageChoice</key>
                                <string>Objective-C</string>
                            </dict>
                            <key>Nodes</key>
                            <array>
                                <string>ViewController.h</string>
                                <string>ViewController.m</string>
                            </array>
                            <key>Definitions</key>
                            <dict>
                                <key>ViewController.h</key>
                                <dict>
                                    <key>Path</key>
                                    <string>SceneKit/ViewController.h</string>
                                </dict>
                                <key>ViewController.m</key>
                                <dict>
                                    <key>Path</key>
                                    <string>SceneKit/ViewController.m</string>
                                </dict>
                                <key>*:implementation:methods:awakeFromNib:super</key>
                                <string>[super awakeFromNib];</string>
                            </dict>
                        </dict>
                        <dict>
                            <key>RequiredOptions</key>
                            <dict>
                                <key>languageChoice</key>
                                <string>Swift</string>
                            </dict>
                            <key>Nodes</key>
                            <array>
                                <string>ViewController.swift</string>
                            </array>
                            <key>Definitions</key>
                            <dict>
                                <key>ViewController.swift</key>
                                <dict>
                                    <key>Path</key>
                                    <string>SceneKit/ViewController.swift</string>
                                </dict>
                                <key>*:implementation:methods:awakeFromNib:super</key>
                                <string>super.awakeFromNib()</string>
                            </dict>
                        </dict>
                    </array>
                    <key>SpriteKit</key>
                    <array>
                        <dict>
                            <key>Nodes</key>
                            <array>
                                <string>Info.plist:UIMainStoryboardFile</string>
                                <string>Base.lproj/Main.storyboard</string>
                                <string>Scene.sks</string>
                            </array>
                            <key>Definitions</key>
                            <dict>
                                <key>Base.lproj/Main.storyboard</key>
                                <dict>
                                    <key>Path</key>
                                    <string>SpriteKit/Main.storyboard</string>
                                    <key>SortOrder</key>
                                    <integer>99</integer>
                                </dict>
                                <key>Info.plist:UIMainStoryboardFile</key>
                                <string><![CDATA[<key>UIMainStoryboardFile</key>
    <string>Main</string>
    ]]></string>
                                <key>Scene.sks</key>
                                <dict>
                                    <key>Path</key>
                                    <string>SpriteKit/Scene.sks</string>
                                </dict>
                            </dict>
                        </dict>
                        <dict>
                            <key>RequiredOptions</key>
                            <dict>
                                <key>languageChoice</key>
                                <string>Objective-C</string>
                            </dict>
                            <key>Nodes</key>
                            <array>
                                <string>Scene.h</string>
                                <string>Scene.m</string>
                                <string>ViewController.h</string>
                                <string>ViewController.m</string>
                            </array>
                            <key>Definitions</key>
                            <dict>
                                <key>Scene.h</key>
                                <dict>
                                    <key>Path</key>
                                    <string>SpriteKit/Scene.h</string>
                                </dict>
                                <key>Scene.m</key>
                                <dict>
                                    <key>Path</key>
                                    <string>SpriteKit/Scene.m</string>
                                </dict>
                                <key>ViewController.h</key>
                                <dict>
                                    <key>Path</key>
                                    <string>SpriteKit/ViewController.h</string>
                                </dict>
                                <key>ViewController.m</key>
                                <dict>
                                    <key>Path</key>
                                    <string>SpriteKit/ViewController.m</string>
                                </dict>
                                <key>*:implementation:methods:awakeFromNib:super</key>
                                <string>[super awakeFromNib];</string>
                            </dict>
                        </dict>
                        <dict>
                            <key>RequiredOptions</key>
                            <dict>
                                <key>languageChoice</key>
                                <string>Swift</string>
                            </dict>
                            <key>Nodes</key>
                            <array>
                                <string>Scene.swift</string>
                                <string>ViewController.swift</string>
                            </array>
                            <key>Definitions</key>
                            <dict>
                                <key>Scene.swift</key>
                                <dict>
                                    <key>Path</key>
                                    <string>SpriteKit/Scene.swift</string>
                                </dict>
                                <key>ViewController.swift</key>
                                <dict>
                                    <key>Path</key>
                                    <string>SpriteKit/ViewController.swift</string>
                                </dict>
                                <key>*:implementation:methods:awakeFromNib:super</key>
                                <string>super.awakeFromNib()</string>
                            </dict>
                        </dict>
                    </array>
                    <key>Metal</key>
                    <array>
                        <dict>
                            <key>Nodes</key>
                            <array>
                                <string>Info.plist:UIMainStoryboardFile</string>
                                <string>Base.lproj/Main.storyboard</string>
                                <string>Info.plist:UIRequiredDeviceCapabilities:metal</string>
                                <string>Info.plist:UIRequiresFullScreen</string>
                                <string>Info.plist:UISupportedInterfaceOrientations:LandscapeRight</string>
                                <string>Shaders.metal</string>
                                <string>ShaderTypes.h</string>
                            </array>
                            <key>Definitions</key>
                            <dict>
                                <key>Info.plist:UIRequiredDeviceCapabilities:metal</key>
                                <string><![CDATA[<string>metal</string>]]></string>
                                <key>Info.plist:UIRequiresFullScreen</key>
                                <string><![CDATA[<key>UIRequiresFullScreen</key>
                                    <true/>
                                ]]></string>
                                <key>Info.plist:UISupportedInterfaceOrientations:LandscapeRight</key>
                                <string><![CDATA[<key>UISupportedInterfaceOrientations</key>
                                    <array>
                                    <string>UIInterfaceOrientationLandscapeRight</string>
                                    </array>
                                    <key>UISupportedInterfaceOrientations~ipad</key>
                                    <array>
                                    <string>UIInterfaceOrientationLandscapeRight</string>
                                    </array>
                                ]]></string>
                                <key>Base.lproj/Main.storyboard</key>
                                <dict>
                                    <key>Path</key>
                                    <string>Metal/Main.storyboard</string>
                                    <key>SortOrder</key>
                                    <integer>99</integer>
                                </dict>
                                <key>Shaders.metal</key>
                                <dict>
                                    <key>Path</key>
                                    <string>Metal/Shaders.metal</string>
                                </dict>
                                <key>ShaderTypes.h</key>
                                <dict>
                                    <key>Path</key>
                                    <string>Metal/ShaderTypes.h</string>
                                </dict>
                                <key>Info.plist:UIMainStoryboardFile</key>
                                <string><![CDATA[<key>UIMainStoryboardFile</key>
    <string>Main</string>
    ]]></string>
                            </dict>
                        </dict>
                        <dict>
                            <key>RequiredOptions</key>
                            <dict>
                                <key>languageChoice</key>
                                <string>Objective-C</string>
                            </dict>
                            <key>Nodes</key>
                            <array>
                                <string>Renderer.h</string>
                                <string>Renderer.m</string>
                                <string>ViewController.h</string>
                                <string>ViewController.m</string>
                            </array>
                            <key>Definitions</key>
                            <dict>
                                <key>Renderer.h</key>
                                <dict>
                                    <key>Path</key>
                                    <string>Metal/Renderer.h</string>
                                </dict>
                                <key>Renderer.m</key>
                                <dict>
                                    <key>Path</key>
                                    <string>Metal/Renderer.m</string>
                                </dict>
                                <key>ViewController.m</key>
                                <dict>
                                    <key>Path</key>
                                    <string>Metal/ViewController.m</string>
                                </dict>
                                <key>*:implementation:methods:awakeFromNib:super</key>
                                <string>[super awakeFromNib];</string>
                                <key>ViewController.h</key>
                                <dict>
                                    <key>Path</key>
                                    <string>Metal/ViewController.h</string>
                                </dict>
                            </dict>
                        </dict>
                        <dict>
                            <key>RequiredOptions</key>
                            <dict>
                                <key>languageChoice</key>
                                <string>Swift</string>
                            </dict>
                            <key>Targets</key>
                            <array>
                                <dict>
                                    <key>SharedSettings</key>
                                    <dict>
                                        <key>SWIFT_OBJC_BRIDGING_HEADER</key>
                                        <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
                                    </dict>
                                </dict>
                            </array>
                            <key>Nodes</key>
                            <array>
                                <string>___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
                                <string>Renderer.swift</string>
                                <string>ViewController.swift</string>
                            </array>
                            <key>Definitions</key>
                            <dict>
                                <key>___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</key>
                                <dict>
                                    <key>Path</key>
                                    <string>Metal/BridgingHeader.h</string>
                                    <key>SortOrder</key>
                                    <integer>200</integer>
                                </dict>
                                <key>Renderer.swift</key>
                                <dict>
                                    <key>Path</key>
                                    <string>Metal/Renderer.swift</string>
                                </dict>
                                <key>*:implementation:methods:awakeFromNib:super</key>
                                <string>super.awakeFromNib()</string>
                                <key>ViewController.swift</key>
                                <dict>
                                    <key>Path</key>
                                    <string>Metal/ViewController.swift</string>
                                </dict>
                            </dict>
                        </dict>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>userInterface</string>
                <key>Name</key>
                <string>User Interface:</string>
                <key>Description</key>
                <string>The type of user interface.</string>
                <key>Values</key>
                <array>
                    <string>SwiftUI</string>
                    <string>Storyboard</string>
                </array>
                <key>RequiredOptionsForValues</key>
                <dict>
                    <key>SwiftUI</key>
                    <dict>
                        <key>contentType</key>
                        <string>RealityKit</string>
                        <key>languageChoice</key>
                        <string>Swift</string>
                    </dict>
                </dict>
                <key>Default</key>
                <string>SwiftUI</string>
                <key>Type</key>
                <string>popup</string>
                <key>Units</key>
                <dict>
                    <key>SwiftUI</key>
                    <array>
                        <dict>
                            <key>RequiredOptions</key>
                            <dict>
                                <key>contentType</key>
                                <string>RealityKit</string>
                            </dict>
                            <key>Nodes</key>
                            <array>
                                <string>ContentView.swift</string>
                                <string>Preview Content/Preview Assets.xcassets</string>
                                <string>AppDelegate.swift:imports:importSwiftUI</string>
                                <string>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</string>
                            </array>
                            <key>Targets</key>
                            <array>
                                <dict>
                                    <key>SharedSettings</key>
                                    <dict>
                                        <key>DEVELOPMENT_ASSET_PATHS</key>
                                        <string>___PACKAGENAMEPREVIEWCONTENT:quoteIfNeeded___</string>
                                        <key>ENABLE_PREVIEWS</key>
                                        <string>YES</string>
                                    </dict>
                                </dict>
                            </array>
                            <key>Project</key>
                            <dict>
                                <key>SDK</key>
                                <string>iphoneos</string>
                            </dict>
                            <key>Definitions</key>
                            <dict>
                                <key>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
                                <string>
// Create the SwiftUI view that provides the window contents.
let contentView = ContentView()

// Use a UIHostingController as window root view controller.
let window = UIWindow(frame: UIScreen.main.bounds)
window.rootViewController = UIHostingController(rootView: contentView)
self.window = window
window.makeKeyAndVisible()</string>
                                <key>Preview Content/Preview Assets.xcassets</key>
                                <dict>
                                    <key>Group</key>
                                    <string>Preview Content</string>
                                    <key>Path</key>
                                    <string>RealityKit/Preview Assets.xcassets</string>
                                    <key>SortOrder</key>
                                    <integer>100</integer>
                                </dict>
                                <key>ContentView.swift</key>
                                <dict>
                                    <key>Path</key>
                                    <string>RealityKit/ContentView.swift</string>
                                    <key>SortOrder</key>
                                    <integer>98</integer>
                                </dict>
                                <key>*:imports:importSwiftUI</key>
                                <string>import SwiftUI</string>
                            </dict>
                        </dict>
                    </array>
                    <key>Storyboard</key>
                    <array>
                        <dict>
                            <key>RequiredOptions</key>
                            <dict>
                                <key>contentType</key>
                                <string>RealityKit</string>
                            </dict>
                            <key>Nodes</key>
                            <array>
                                <string>Info.plist:UIMainStoryboardFile</string>
                                <string>Base.lproj/Main.storyboard</string>
                                <string>ViewController.swift</string>
                            </array>
                            <key>Definitions</key>
                            <dict>
                                <key>Info.plist:UIMainStoryboardFile</key>
                                <string><![CDATA[<key>UIMainStoryboardFile</key>
    <string>Main</string>
    ]]></string>
                                <key>*:implementation:methods:awakeFromNib:super</key>
                                <string>super.awakeFromNib()</string>
                                <key>ViewController.swift</key>
                                <dict>
                                    <key>Path</key>
                                    <string>RealityKit/ViewController.swift</string>
                                </dict>
                                <key>Base.lproj/Main.storyboard</key>
                                <dict>
                                    <key>Path</key>
                                    <string>RealityKit/Main.storyboard</string>
                                    <key>SortOrder</key>
                                    <integer>99</integer>
                                </dict>
                            </dict>
                        </dict>
                    </array>
                </dict>
            </dict>
        </array>
    </dict>
</plist>


