<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.ios.game</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>SortOrder</key>
	<integer>10</integer>
	<key>Description</key>
	<string>This template provides a starting point for games.</string>
	<key>Nodes</key>
	<array>
		<string>Info.plist:UIStatusBarHidden</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Info.plist:UIStatusBarHidden</key>
		<string>&lt;key&gt;UIStatusBarHidden&lt;/key&gt;
&lt;true/&gt;
</string>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>gameType</string>
			<key>Name</key>
			<string>Game Technology:</string>
			<key>Description</key>
			<string>The type of game technology to use to create your game</string>
			<key>Values</key>
			<array>
				<string>RealityKit</string>
				<string>SceneKit</string>
				<string>SpriteKit</string>
				<string>Metal</string>
			</array>
			<key>RequiredOptionsForValues</key>
            <dict>
                <key>RealityKit</key>
                <dict>
                    <key>languageChoice</key>
                    <string>Swift</string>
                </dict>
            </dict>
			<key>Default</key>
			<string>SpriteKit</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>RealityKit</key>
					<array>
						<dict>
							<key>RequiredOptions</key>
							<dict>
								<key>languageChoice</key>
								<string>Swift</string>
							</dict>
							<key>Nodes</key>
							<array>
								<string>Info.plist:NSCameraUsageDescription</string>
								<string>Info.plist:UIRequiredDeviceCapabilities:arkit</string>
								<string>Experience.rcproject</string>
								<string>GameViewController.swift</string>
							</array>
							<key>Definitions</key>
							<dict>
								<key>Info.plist:UIRequiredDeviceCapabilities:arkit</key>
								<string><![CDATA[<string>arkit</string>]]></string>
								<key>Info.plist:NSCameraUsageDescription</key>
								<string><![CDATA[<key>NSCameraUsageDescription</key>
									<string></string>
								]]></string>
								<key>Base.lproj/Main.storyboard</key>
								<dict>
									<key>Path</key>
									<string>RealityKit/Main.storyboard</string>
									<key>SortOrder</key>
									<integer>99</integer>
								</dict>
								<key>Experience.rcproject</key>
								<dict>
									<key>Path</key>
									<string>RealityKit/Experience.rcproject</string>
									<key>SortOrder</key>
									<integer>99</integer>
								</dict>
								<key>GameViewController.swift</key>
								<dict>
									<key>Path</key>
									<string>RealityKit/GameViewController.swift</string>
								</dict>
							</dict>
						</dict>
					</array>
				<key>SceneKit</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>art.scnassets</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Base.lproj/Main.storyboard</key>
							<dict>
								<key>Path</key>
								<string>SceneKit/Main.storyboard</string>
								<key>SortOrder</key>
								<integer>99</integer>
							</dict>
							<key>art.scnassets</key>
							<dict>
								<key>Path</key>
								<string>SceneKit/art.scnassets</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Objective-C</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>GameViewController.h</string>
							<string>GameViewController.m</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameViewController.h</key>
							<dict>
								<key>Path</key>
								<string>SceneKit/GameViewController.h</string>
							</dict>
							<key>GameViewController.m</key>
							<dict>
								<key>Path</key>
								<string>SceneKit/GameViewController.m</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>GameViewController.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>SceneKit/GameViewController.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>SpriteKit</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>GameScene.sks</string>
							<string>Actions.sks</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Base.lproj/Main.storyboard</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/Main.storyboard</string>
								<key>SortOrder</key>
								<integer>99</integer>
							</dict>
							<key>GameScene.sks</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GameScene.sks</string>
							</dict>
							<key>Actions.sks</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/Actions.sks</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Objective-C</string>
							<key>integrateGK</key>
							<string>false</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>GameScene.h</string>
							<string>GameScene.m</string>
							<string>GameViewController.h</string>
							<string>GameViewController.m</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameScene.h</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GameScene.h</string>
							</dict>
							<key>GameScene.m</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GameScene.m</string>
							</dict>
							<key>GameViewController.h</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GameViewController.h</string>
							</dict>
							<key>GameViewController.m</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GameViewController.m</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Objective-C</string>
							<key>integrateGK</key>
							<string>true</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>GameScene.h</string>
							<string>GameScene.m</string>
							<string>GameViewController.h</string>
							<string>GameViewController.m</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameScene.h</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GK_GameScene.h</string>
							</dict>
							<key>GameScene.m</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GK_GameScene.m</string>
							</dict>
							<key>GameViewController.h</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GK_GameViewController.h</string>
							</dict>
							<key>GameViewController.m</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GK_GameViewController.m</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
							<key>integrateGK</key>
							<string>false</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>GameScene.swift</string>
							<string>GameViewController.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameScene.swift</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GameScene.swift</string>
							</dict>
							<key>GameViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GameViewController.swift</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
							<key>integrateGK</key>
							<string>true</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>GameScene.swift</string>
							<string>GameViewController.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameScene.swift</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GK_GameScene.swift</string>
							</dict>
							<key>GameViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GK_GameViewController.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Metal</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Assets.xcassets</string>
							<string>Base.lproj/Main.storyboard</string>
							<string>Info.plist:UIRequiredDeviceCapabilities:metal</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Info.plist:UIRequiredDeviceCapabilities:metal</key>
							<string>&lt;string&gt;metal&lt;/string&gt;</string>
							<key>Base.lproj/Main.storyboard</key>
							<dict>
								<key>Path</key>
								<string>Metal/Main.storyboard</string>
								<key>SortOrder</key>
								<integer>99</integer>
							</dict>
                            <key>Assets.xcassets</key>
                            <dict>
                                <key>Path</key>
                                <string>Metal/Assets.xcassets</string>
                                <key>AssetGeneration</key>
                                <array>
                                    <dict>
                                        <key>Type</key>
                                        <string>appicon</string>
                                        <key>Name</key>
                                        <string>AppIcon</string>
                                        <key>Platforms</key>
                                        <dict>
                                            <key>iOS</key>
                                            <string>true</string>
                                        </dict>
                                    </dict>
                                </array>
                                <key>SortOrder</key>
                                <integer>100</integer>
                            </dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Objective-C</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Renderer.h</string>
							<string>Renderer.m</string>
							<string>GameViewController.h</string>
							<string>GameViewController.m</string>
							<string>Shaders.metal</string>
							<string>ShaderTypes.h</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Renderer.h</key>
							<dict>
								<key>Path</key>
								<string>Metal/Renderer.h</string>
							</dict>
							<key>Renderer.m</key>
							<dict>
								<key>Path</key>
								<string>Metal/Renderer.m</string>
							</dict>
							<key>ShaderTypes.h</key>
							<dict>
								<key>Path</key>
								<string>Metal/ShaderTypes.h</string>
							</dict>
							<key>GameViewController.m</key>
							<dict>
								<key>Path</key>
								<string>Metal/GameViewController.m</string>
							</dict>
							<key>GameViewController.h</key>
							<dict>
								<key>Path</key>
								<string>Metal/GameViewController.h</string>
							</dict>
							<key>Shaders.metal</key>
							<dict>
								<key>Path</key>
								<string>Metal/Shaders.metal</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>SWIFT_OBJC_BRIDGING_HEADER</key>
									<string>$(TARGET_NAME)/ShaderTypes.h</string>
								</dict>
							</dict>
						</array>
						<key>Nodes</key>
						<array>
							<string>ShaderTypes.h</string>
							<string>Renderer.swift</string>
							<string>GameViewController.swift</string>
							<string>Shaders.metal</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Renderer.swift</key>
							<dict>
								<key>Path</key>
								<string>Metal/Renderer.swift</string>
							</dict>
							<key>GameViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>Metal/GameViewController.swift</string>
							</dict>
							<key>ShaderTypes.h</key>
							<dict>
								<key>Path</key>
								<string>Metal/ShaderTypes.h</string>
							</dict>
							<key>Shaders.metal</key>
							<dict>
								<key>Path</key>
								<string>Metal/Shaders.metal</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>RequiredOptions</key>
			<dict>
				<key>gameType</key>
				<string>SpriteKit</string>
			</dict>
			<key>Identifier</key>
			<string>integrateGK</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Integrate GameplayKit</string>
			<key>Description</key>
			<string>Provides set up for integrating GameplayKit into game</string>
			<key>SortOrder</key>
			<integer>4</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
		</dict>
	</array>
</dict>
</plist>
